<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JohnSkosnik.Imagetender.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <appSettings>
    <add key="ImageExtensions" value=".jpeg; .jpg; .gif; .png" />
    <add key="Description" value="Imagetender:  A simple image viewer for Windows.

To use Imagetender:

• Select “File | Open” from the menu.  Select the directory containing the images you wish to view.
• Images in the directory and in subdirectories will be shown.  Images will be shown with .jpg, jpeg, .gif, .png. Each image’s filename and dimensions will be displayed on top.
• To navigate through the images:
•• Use cursor keys left and right for previous and next images, Home and End to go to the first and last images.
•• Use “&lt;” and “&gt;” (or alternately “,” and “.”) to rotate the image 90 degrees counter-clockwise and clockwise, respectively.  The original image on disk is not affected.
•• To delete an image, first select “Edit | Allow Deletions” from the menu (this protects against accidental deletions).  Press “Delete”. Images will either be moved to the Recycle Bin (if available) or deleted (if not).
•• Imagetender can be started from the command line with a parameter specifying the directory to open: “Imagetender.exe &quot;C:\My Pictures&quot; ”.

Imagetender is free to use, modify and distribute as you see fit. Share and enjoy!

Technical Stuff:
• Imagetender is written in C# using the .Net 4.5.2 framework, and released under the MIT license. Full source code available at https://github.com/johnskosnik/Imagetender ." />
  </appSettings>
</configuration>